<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800" id="addItems">Add items</h1>
   </div>
   
   <div class="add-item">
    <form method="POST" action="add_item.php">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="scientific_name">Scientific Name:</label>
          <input type="text" id="scientific_name" name="scientific_name" placeholder="Scientific Name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="common_name">Common Name:</label>
          <input type="text" id="common_name" name="common_name" placeholder="Common Name" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="appearance">Appearance:</label>
          <input type="text" id="appearance" name="appearance" placeholder="Appearance" required>
        </div>
        <div class="form-group col-md-6">
          <label for="temperament">Temperament:</label>
          <input type="text" id="temperament" name="temperament" placeholder="Temperament" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="feeding">Feeding:</label>
          <input type="text" id="feeding" name="feeding" placeholder="Feeding" required>
        </div>
        <div class="form-group col-md-6">
          <label for="habitat">Habitat:</label>
          <input type="text" id="habitat" name="habitat" placeholder="Habitat" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="lifespan">Lifespan:</label>
          <input type="text" id="lifespan" name="lifespan" placeholder="Lifespan" required>
        </div>
        <div class="form-group col-md-6">
          <label for="price">Price:</label>
          <input type="text" id="price" name="price" placeholder="Price" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="image">Image:</label>
          <input type="file" id="image" name="image">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="description">Description:</label>
          <textarea id="description" name="description" placeholder="Description" rows="5"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <button type="submit">Add Item</button>
        </div>
      </div>
    </form>
  </div>