<div> 
    <video muted playsinline id="myVideo" src="/The-Snakery/assets/img/snakeskinloop.mp4" autoplay loop type="video/mp4">
</video>
<section class="page-section" id="shop">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase boja-texta-shop">Shop</h2>
            <h3 class="section-subheading  boja-texta-shop">Discover a variety of top-quality snakes and supplies by shopping at our online store.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4" id="portofioItems">
            </div>
            
        </div>
    </div>
</section>
</div>

<script src="js/snake-service.js"></script>

<script>
    SnakeService.list();
</script>